##Ignore
#dev
.devcontainer/
**/.devcontainer/
#mac files
.DS_Store

**/.ipynb_checkpoints/
**/.ipynb_checkpoints/

/RESULTADOS_MAPE_HORA/Untitled.ipynb
pages/streamlit_onepage.ipynb
pages/streamlit_onepage.html
